#Fatou{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
    color: rgb(10, 8, 8);
    font-style: italic;
}

header{
        
            background-color: rgb(124, 123, 121);


}
#moi{
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    background-color: rgb(194, 192, 193); 
    font-style: italic;
}
#toi{
    color: black;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    font-size: 170%;
}
#sarr{
    color: rgb(0, 0, 0)
    
};

nav{
    display: flex;
    justify-content: center;
}

nav ul {

    display: flex;
    gap: 30px;
    justify-content: center;
}


nav ul li{
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: rgb(250, 248, 249) ;
    font-size: 200%;
    font-style: italic;
    
}
#votre{
    font-size: 250%;
    background-color: rgb(193, 192, 194);
    font-style: italic;

}

 table{

border:  1px solid;
width: 50%;
border-collapse: collapse;
margin:  0 auto;
text-align: center;
font-size: 150%;
}
th, td {
    border-style: double ;
    padding: 19px;
}
input{
width: 70%;
max-width:4000px;
height: 50px;
border: 5px;
}
table{

}
table2{
    border-collapse: collapse;

}